.h1{
    font-size: 20;
    color: red;
    font-family: verdana;
    text-align: center;
}

.body{
    text-align : center;
}

#form{
    text-align: center;
}

div.center {
    	width:70%; 
    }

    @media (min-width: 600px) {
        div.center {
            width: 90%;
        }
    }