<!DOCTYPE html>
<html lang="en">
<body style = "background-color: lightgrey">
    
    <h1 style = "text-align: center">
        
        <font size = "20" color = "red"> Enter your text to be Trumpified! </font>
    </h1>
    
    <form action="." method="POST" style = "text-align: center">
       <fieldset>
           <legend> Get Trumped </legend>
        <input type="text" name="text">
        <input type="submit" name="my-form" value="TRUMPIFY">
            </fieldset>
    </form>
    
</body>
</html>