.h1{
    font-size: 20;
    color: red;
    font-family: verdana;
    text-align: center;
}

.body{
    text-align : center;
  margin: 0 auto !important;
  float: none !important;
    background-color:lightgrey;
}

#form{
    text-align: center;
}

